{{ define "main" }}
  {{ partial "menu" . }}

<div class="pr-2 under-menu">


<div class="ml-4 mb-4"><h2>My Paintings </h2></div>

<div class="container-fluid">
  <div class="row">
    {{ partial "image-gallery" (dict "context" . "gallery_dir" "/assets/images/art") }}
  </div>
</div>

</div>

<!-- <div class="ml-4 mb-4"><h2>AI Art Images</h2></div>

<div class="container-fluid">
  <div class="row">
    {{ partial "image-gallery" (dict "context" . "gallery_dir" "/assets/images/ai_art") }}
  </div>
</div>

</div> -->


{{ partial "footer" . }}
{{ end }}
