.neuralartpage{
    display: flex;
    flex-flow: row wrap;
    background: linear-gradient(to right, #ececec, #d8d8d8);
}

.neuralimg{
    height: auto;
    border-radius: 5px;
    padding: 10px;
 }

img{
    border-radius: 10px;
}