.book-page{
    overflow-x: auto;
    overflow-wrap: break-word;
}

.books-section-title{
    margin-left: 1%;
    color: #646a69
}
.books-container{
    min-width: max-content;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.book-card{
    flex-basis: 550px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    height: 200px;
    margin-top: 20px;
    padding-bottom: 1%;
    flex-shrink: 0;
}

.book-img-container{
    height: 200px;
}

.book-img{
    height: inherit;
}

.book-description{
    overflow: hidden;
    display: flex;
    flex-basis: 400px;
    flex-shrink: 0;
    flex-flow: column;
    padding-top: 4px;
    align-content: space-around;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 4px;

    background-color: #fff;
}

.first-line-book-description{
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 19px;
    margin-bottom: 2px;
}

#book-to-finish-description-0{
    width: fit-content;
}

#first-line-book-to-finish-description-0{
    font-size: 14px;
}
.second-line-book-description{
    font-family: 'Roboto';
    color: #757575;
    font-size: 13px;
}

.book-separator{

    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
    border-top: #757575 solid 1px;
}

.book-actions{

}

.still-reading-section{
    margin-top: 20px;
}