.book-page{
    overflow-x: auto;
    overflow-wrap: break-word;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.books-section-title{
    margin-left: 1%;
    color: #646a69
}
.books-container{
    min-width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.book-card{
    flex-basis: 550px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-top: 20px;
    padding-bottom: 1%;
    flex-shrink: 0;
}

.book-img-container{
    height: 200px;
    z-index: 2;
}

.book-img{
    height: inherit;
}

.book-description{
    z-index: 0;
    display: flex;
    flex-basis: 400px;
    flex-shrink: 0;
    flex-flow: column;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.first-line-book-description{
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 19px;
    margin-bottom: 2px;
}

#book-to-finish-description-0{
    width: fit-content;
}

#first-line-book-to-finish-description-0{
    font-size: 14px;
}
.second-line-book-description{
    font-family: 'Roboto';
    color: #757575;
    font-size: 13px;
}

.book-separator{

    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 100%;
    border-top: #757575 solid 1px;
}

.book-actions{
}

.still-reading-section{
    margin-top: 20px;
}

.book-section-title{
    margin-left: 20px;
    width: 100px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.book-title-text{
    font-size: 30px;
}