.skill-card{
    max-width: 15%;
    align-self: flex-start;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}



.title-text{
    font-size: 35px;
    color: white;
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'Roboto Light', sans-serif;
}

.mdl-card--border{
    color: white;
}

.skill-icon{
    width: 50px;
    height: 50px;
}

.text-description{
    padding: 3%;
}
.title-card{
    margin-left: 8%;
    padding-top: 15px;
    padding-bottom: 4%;
}

.circle-container{
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: inherit;
}

.circle{
}