.home-container{
    display: flex;
    flex-flow: column;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.home-links-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.home-img-container{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 2vmin;
    margin-right: 20px;
    position: relative;
}

#home-img-container-0{

    align-self: center;
}



.home-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#home-img-0{
    width: 60%;
}

.my-img-container{
    flex-grow: 1;
    flex-basis: 600px;
    width: 98%;
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/my_img2.jpg');
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: cover;

}

.home-title-container{
    font-family: 'Lobster';
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.home-title{
    font-size: 5vmin;
    margin-top: 20px;
    margin-bottom: 10px;
}

.home-subtitle{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3vmin;

}

.home-text{
    z-index: 1;
    position: absolute;
    bottom: 20px;
    color: black;
    font-family: Roboto;
    font-size: 2vmin;
    visibility: hidden;
}

#home-text-0{
    color: white;
    bottom: 20px;
}

#home-text-1{
    left: 3px;
}

#home-text-2{
    left: 20px;
    bottom: 40px;
}

.home-container > a{
    outline: none;
}