.project-page {
    background-image: url("../img/background.jpg");
    min-width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-content: space-between;
}

.item-project {
    background: rgba(255, 255, 255, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.project-text {
    filter: none;
    display: flex;
    flex-flow: column;
}

.project-text-title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.project-text-description {
    font-size: 15px;
    font-weight: 300;
    white-space: pre-line;
}

.project-links {
    align-self: flex-end;
    display: flex;
    flex-flow: column;
}

.project-link-icon {
    align-self: center;
    max-width: 50px;
    height: auto;
}