.contacts-page{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.contact-card{
    flex-basis: 30%;
    min-height: 40vh;
    margin: 5px;
    align-self: stretch;
}

.contact-card-title{

}


.facebook-card{
    flex-basis: 36%;
    flex-grow: .5;
}

.facebook-card-title{
    background-image: url("../img/facebook.png");
    background-position: center;
    background-size: 100%;
    background-color: #3a589e;
    background-repeat: no-repeat;
}    

.linkedin-card{
    flex-basis: 54%;
    align-self: flex-start;
    flex-grow: 1.4;
}

.linkedin-card-title{
    background-image: url('../img/linkedin.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #0274b3;
}

.gmail-card{
    flex-basis: 30%;
    flex-grow: 2;
}

.gmail-card-title{
    background-image: url('../img/gmail.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.twitter-card{
    align-self: flex-end;
    flex-basis: 45%;
}

.twitter-card-title{
    background-image: url('../img/twitter.png');
    background-color: #39a0ce;
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
}

.skype-card{
    height: 20vh;
    flex-basis: 45%;
    flex-grow: 1;
}

.skype-card-title{
    background-image: url('../img/skype.png');
    background-position: center;
    background-size: 100%;
    background-color: #3a589e;
    background-repeat: no-repeat;
}

.github-card{
    flex-basis: 35%;
}

.github-card-title{
    background-color: #010101;
    background-image: url('../img/github.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}