.contacts-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 250px;
    margin-top: 30px;
    margin-right: 250px;

}

.contact-card{
    width: 400px;
    height: 400px;
    margin: 1%;
    margin-bottom: 2vh;
}

.contact-card-title{

}


.facebook-card{
}

.facebook-card-title{
    background-image: url("../img/facebook.png");
    background-position: center;
    background-size: 100%;
    background-color: #3a589e;
    background-repeat: no-repeat;
}    

.linkedin-card{
    align-self: flex-start;
}

.linkedin-card-title{
    background-image: url('../img/linkedin.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #0274b3;
}

.gmail-card{
}

.gmail-card-title{
    background-image: url('../img/gmail.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.twitter-card{
    align-self: flex-end;
}

.twitter-card-title{
    background-image: url('../img/twitter.png');
    background-color: #39a0ce;
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
}

.skype-card{
}

.skype-card-title{
    background-image: url('../img/skype.png');
    background-position: center;
    background-size: 100%;
    background-color: #3078d0;
    background-repeat: no-repeat;
}

.github-card{
}

.github-card-title{
    background-color: #010101;
    background-image: url('../img/github.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}