#av_toolbar_regdiv, #av_toolbar_iframe, .av_site, .av-antipixel {
    display: none !important;
}

.toptext{
    font-family: 'Crafty Girls', cursive;
    color: white;
    font-size: 315%;
    position: fixed;
    opacity: 0.9;
    left: 3.5%;
    top: 6%;
    display: none;

}

.trasparent{
    background: rgba(54, 25, 25, 0.1);
}

.semiopaque{
    opacity: 0.9;
}

#toptext2{
    font-size: 305%;
    top: 25%;
}

.midtextwrapper{
    margin-left: 10%;
}




html, body{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

body{
    background-image: url("../backgrounds/manjaro_stripes_wallpaper_1920x1200px.jpg");
    overflow: auto;
}


::-webkit-scrollbar {
    display: none;
}

#scenecontainer{
    position:fixed;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
}

.scene{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}


#myimg{
    float: right;
}
.second{
    background-size: cover;
    transform: translateY(100%);
}
.first{
    background-size: cover;
    opacity: 0.9;
}
.third{
    background-size: cover;
    transform: translateY(200%);
    opacity: 0.9;
}


#extra{
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 20px;

}

.myscrollbar{
    position: fixed;
    height: 1px;
    width: inherit;
    background-color: blue;
    margin-left: 99%;
}

