#mosaico{
            position: relative;
            min-height: 100%;
            min-width: 100%;
            margin-left: 2%;
        }

.myimg{
    padding: 0;
    margin: 0;
    width: 240px;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.myimg.one{
        background-image: url("../backgrounds/dragonImage.jpg");
}
.myimg.two{
    background-image: url("../backgrounds/darthvader.jpg");
}
.myimg.three{
    background-image: url("../backgrounds/miaimmagine.jpg");
}
.myimg.four{
    background-image: url("../backgrounds/starwars.jpg");
}
.myimg.five{
    background-image: url("../backgrounds/iceBackground.jpg");
}

.myimg.six{
    background-image: url("../backgrounds/finalimage.jpg");
}

.myimg.seven{
    background-image: url("../backgrounds/dragon1.jpg");
}

.myimg.eight{
    background-image: url("../backgrounds/dragon2.jpg");
}

.myimg.nine{
    background-image: url("../backgrounds/dragon3.jpg");
}

.myimg.ten{
    background-image: url("../backgrounds/dragon4.jpg");
}
