/*@font-face{
    font-family: imgpresentationfont;
    src: url(../fonts/EraserDust.ttf);
}

@font-face{
    font-family: contactsfont1;
    src: url(../fonts/fontlavagna2.ttf);
}

@font-face{
    font-family: contactsfont2;
    src: url(../fonts/fontlavagna3.ttf);
}*/


#textpresentation{
    color: white;
    text-align: center;
    width: 30%;
    height: 8%;
    margin-left: 38%;
    margin-top: 2%;
    /*font-family: imgpresentationfont;*/
font-family: 'Crafty Girls', cursive;
    font-size: 150%;
    text-decoration-line: underline;
    text-decoration-color: white;
}

#contacts{
    color: white;
    width: 50%;
    height: 8%;
    margin-left: 28%;
    margin-top: 2%;
    font-size: 200%;
    font-family: 'Crafty Girls', cursive;

}

#contacts1{
    /*font-family: contactsfont1; */
    font-family: 'Crafty Girls', cursive;
    text-align: center;
}

#contacts2{
    /*font-family: contactsfont1;*/
    font-family: 'Crafty Girls', cursive;
    text-align: center;
    margin-left: 1%
}

#contacts3{
    /*font-family: contactsfont2;*/
    font-family: 'Crafty Girls', cursive;
    text-align: center;

}
#contacts4{
    /*font-family: contactsfont2;*/
    font-family: 'Crafty Girls', cursive;

}
