<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

{{ $dir := string .gallery_dir }}
{{ $dirResource := strings.TrimPrefix "/assets" $dir }}
<ul class="image-gallery">
  {{ range (readDir $dir) }}

    {{if .IsDir}}
      
      <div style="border: 4px solid rgb(5, 57, 99); border-radius: 5px;" class="m-3 p-2"> 
        <h3 style="color: rgb(5, 57, 99);">{{ .Name }}</h3>
        {{ partial "image-gallery" (dict "context" . "gallery_dir" (printf "%s/%s" $dir .Name ) ) }}
      </div>
    {{else}}

      {{ $image := resources.Get (printf "%s/%s" $dirResource .Name ) }}
      {{ $imageurl := printf "%s/%s" $dir .Name }}
      {{ $imagetitle := index (split .Name ".") 0 }}
      {{ $imageext := ($image.Fit "1600x1066 q50").Permalink }}
      {{ $imageshr := ($image.Fit "300x200 q50").Permalink }}
      {{ $imagebasename := strings.TrimSuffix ".png" (strings.TrimSuffix ".jpg" .Name ) }}
      {{ $descriptionurl := printf "description/%s.txt" $imagebasename }}


      {{ with resources.Get $descriptionurl }}

        <li>
          <a href="{{ $imageext }}" title="{{ $imagetitle }}" class="lightbox-image">
            <img src="{{ $imageshr }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}" style="border-radius: 5px;" class="shadow">
            <span>{{ .Content }}</span>
          </a>
        </li>

      {{ end }}
    
    {{end }}
    
  {{ end }}
</ul>
<br>
<ul class="image-gallery">
  {{ range (readDir $dir) }}
    {{if .IsDir}}

    {{else}}

      {{ $image := resources.Get (printf "%s/%s" $dirResource .Name ) }}
      {{ $imageurl := printf "%s/%s" $dir .Name }}
      {{ $imagetitle := index (split .Name ".") 0 }}
      {{ $imageext := ($image.Fit "1600x1066 q50").Permalink }}
      {{ $imageshr := ($image.Fit "300x200 q50").Permalink }}
      {{ $imagebasename := strings.TrimSuffix ".png" (strings.TrimSuffix ".jpg" .Name ) }}
      {{ $descriptionurl := printf "description/%s.txt" $imagebasename }}
    
    
      {{ with resources.Get $descriptionurl }}
      {{ else }}
        <li>
          <a href="{{ $imageext }}" title="{{ $imagetitle }}" class="lightbox-image">
            <img src="{{ $imageshr }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}" style="border-radius: 5px;" class="shadow">
          </a>
        </li>
    
      {{ end }}
    
    {{end }}
    
  {{ end }}
  </ul>